.content {
  @include center($medium);
  margin-top: -2rem;
  background-color: $color-light;
}
.portfolio-section {
  background: $color-light;
  margin-bottom: 10rem;
}
.posts-section {
  background: #fff;
}
#portfolio-main {
  @include center(960px);
  padding-top: 10px;
  img {
    width: 100%;
  }
  h3 {
    color: $color-dark;
    font-family: $font-heading;
  }
  p {
    color: $color-dark;
    font-size: $font-small;
    line-height: 1.5rem;
  }
}
.more-portfolio {
  padding-top: 4rem;
  @include center($xsmall);
  text-align: center;
  color: $color-fifth;
  font-size: $font-xsmall;
  span {
    background: $color-light;
    padding: 0 1.6rem;
  }
}
.more-blog {
  @include center($xsmall);
  margin-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  color: $color-fifth;
  font-size: $font-xsmall;
  span {
    background: $color-light;
    padding: 0 1.6rem;
  }
}
.more-lines {
  position: relative;
  display: block;
  z-index: 1;
  &:before {
    border-top: 2px solid rgba($color-dark, 0.3);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}
.main-titles {
  span {
    background: #fff;
    padding: 0 2rem 0 2rem;
  }
  line-height: 1;
  font-family: $font-heading;
  font-size: 5rem;
  color: rgb(86, 86, 86);
  text-align: center;
  padding: 0;
  margin: -1rem 0 10rem 0;
}
.title-with-lines {
  font-family: $font-heading;
  font-size: $font-xlarge;
  text-align: center;
  position: relative;
  display: block;
  z-index: 1;
  color: rgba($color-dark, 0.6);
  letter-spacing: .4rem;
  &:before {
    border-top: 4px solid rgba($color-dark, 0.3);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  span {
    background-color: $color-light;
    padding: 0 1.6rem 0 2rem;
  }
}
.post-title {
  font-family: $font-thin;
  font-weight: 200;
  padding-bottom: 0rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  a {
    color: rgba($color-dark, .75);
    text-decoration: none;
  }
}
.post-date {
  border-bottom: 4px solid rgba($color-secondary, .6);
  font-size: $font-xsmall;
  text-align: center;
  padding-bottom: .35rem;
  color: $color-light;
  font-style: italic;
  span {
    background: rgba($color-secondary, .6);
    padding: .35rem;
  }
}
.post-date-with-lines {
  font-size: $font-xsmall;
  color: $color-secondary;
  text-align: center;
  position: relative;
  display: block;
  z-index: 1;
  &:before {
    border-top: 2px solid rgba($color-secondary, .6);
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  span {
    background-color: $color-light;
    padding: 0 1.6rem;
  }
}

.post-text-container {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: $color-dark;
  max-height: 18rem;
  overflow: hidden;
  position: relative;
  p {
    @include center(96%);
  }
}
.post-fade-out {
  width: 100%;
  height: 11rem;
  z-index: 80;
  position: absolute;
  bottom: 0px;
  background: -moz-linear-gradient(top, rgba(#ffffff,0) 0%, rgba(#ffffff,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(#ffffff,0)), color-stop(100%,rgba(#ffffff,1)));
  background: -webkit-linear-gradient(top, rgba(#ffffff,0) 0%,rgba(#ffffff,1) 100%);
  background: -o-linear-gradient(top, rgba(#ffffff,0) 0%,rgba(#ffffff,1) 100%);
  background: -ms-linear-gradient(top, rgba(#ffffff,0) 0%,rgba(#ffffff,1) 100%);
  background: linear-gradient(to bottom, rgba(#ffffff,0) 0%,rgba(#ffffff,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.post-read-more {
  font-size: .9rem;
  font-family: helvetica;
  color: rgba(58, 154, 217, 0.6);
  margin-left: 1rem;
  padding: .4rem;
  text-decoration: none;
  margin-bottom: 2rem;
  &:hover {
    color: darken(rgba(58, 154, 217, 0.6), 15%);
  }
}
