header {
  @include center(100%);
  background-image: url(https://images.unsplash.com/photo-1437422061949-f6efbde0a471?q=80&fm=jpg&s=e23055c9ba7686b8fe583fb8318a1f88);
  background-position: center;
  background-size: cover;
  color: $color-light;
  height: 30rem;
}
.header-main-container {
  @include center($medium);
  padding-top: 9rem;
}
.header-title {
  margin: 0;
  font-family: $font-heading;
  font-size: $font-xlarge;
}
.header-subtitle {
  font-family: $font-body;
  margin: 0;
  font-size: $font-medium;
}
.header-img-container {
  vertical-align: middle;
  padding: .5rem 1.5rem .5rem .5rem;
  text-align: center;
}
.header-titles-container {
  vertical-align: middle;
  text-align: center;
}
.header-container {
  @include center(100%);
}
.header-nav-container {
  width: 100%;
  position: fixed;
  padding-top: 2.25rem;
  z-index: 90;
}
.header-nav {
  @include center($medium);
  background-color: $color-light;
  color: $color-dark;
  border-bottom: 4px solid rgba($color-secondary, .4);
}
nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  ul {
    padding: 0;
  }
  li {
    display: inline;
    padding: 0 1rem;
    text-transform: uppercase;
    a {
      color: $color-dark;
      text-decoration: none;
      transition: ease all 250ms;
      &:hover {
        color: $color-fifth;
        border-bottom: 1rem solid $color-fifth;
      }
    }
  }
}
.header-login-container {
  width: 100%;
  background: $color-secondary;
  padding: 0;
  text-align: center;
  font-size: $font-xsmall;
  position: fixed;
  z-index: 100;
  a {
    color: $color-light;
    text-decoration: none;
    transition: ease all 250ms;
    padding: 0 1rem;
    &:hover {
      color: $color-secondary;
    }
  }
}
.admin {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline;
  }
}
.img-responsive {
  max-width: 7.5rem;
}
