/*
 *= require_self
 */

@import 'jeet';
@import 'breakpoint';
@import 'variables';
@import 'columns';
@import 'header';
@import 'footer';
@import 'content-main';
@import 'portfolio';
@import 'post_type';

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $color-light;
}
ul {
  margin: 0;
}
li {
  margin: 0;
}
